.header {
  background-color: #F55A5A;
  display: flex;
  padding: 20px ;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


.logo-text {color: white;
           font-size: 14.46px;}


           


.card {display: flex;
      align-items: center;
      justify-content: first baseline;
     padding: 20px 30px;
     gap: 30px;} 
      
      
.card-img-section {display: flex;}
.card-img {height: 168px;
          width: 125px;
          border-radius: 5px;}

.location {height: 9.55px;
          width: 7px;}
          
.country {font-size: 10.24px;
         letter-spacing: 2px;
         font-weight: 400;
         } 
         
         
.card-text {display: flex;
           flex-direction: column;}
           
.description {display: flex;
             align-items: center;
             gap: 10px;}  
             
.map {font-size: 9.24px;}

.map-text {text-decoration: none;
          color: #918E9B;
          border-bottom:1px solid #918E9B ;}



h1 {font-size: 25px;
   margin: 0;}

h3 {font-size: 10.24px;
   font-weight: 600;}

p {font-size: 10.24px;}   



@media  (min-width:318px) and (max-width: 400px) {


   .card {display: flex;
      align-items: center;
      justify-content: first baseline;
     padding: 20px 30px;
     gap: 20px;} 
      
      
.card-img-section {display: flex;}

.card-img {height: 148px;
          width: 105px;
          border-radius: 5px;}

.location {height: 6.55px;
          width: 5px;}
          
.country {font-size: 7.24px;
         letter-spacing: 2px;
         font-weight: 400;
         } 
         
         
.card-text {display: flex;
           flex-direction: column;}
           
.description {display: flex;
             align-items: center;
             gap: 8px;}  
             
.map {font-size: 7.24px;}

.map-text {text-decoration: none;
          color: #918E9B;
          border-bottom:1px solid #918E9B ;}



h1 {font-size: 13px;
   margin: 0;}

h3 {font-size: 7.24px;
   font-weight: 600;}

p {font-size: 7.24px;}   



}
